body{
    background: linear-gradient(45deg, #9c27b0, #009688);
}

h1 {
    text-align: center;
    margin: 15px auto;
    font-size: 3em;
    text-decoration: underline;
    
}
.inputNames{
   text-align: center;
   font-size: 1em;
   font-weight: bolder;
   font-family: 'Poppins', sans-serif;
}
.inputNames input{
    text-align: center;
    margin: 10px auto;
    border-radius: 50px;
    padding: 8px 15px;
    font-size: 1em;
    font-weight: 400;
}
#btn{
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    font-size: 1em;
    font-family:  sans-serif;
    background-color: black;
    color: white;
}
.row{
font-family: "Permanent Marker";
}
h2 {
    text-align: center;
    font-family: 'Noto Sans';
    width: 300px;
    margin: 20px auto 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
  
}
.col{
    background-color: rgba(33, 150, 240, 0.3);
    border: 2px solid rgb(33, 150, 243);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 5em;
    font-family: sans;
}
#gameDiv{
    display: none;
}
#btn2{
    border: 2px solid white;
    border-radius: 5px;
    margin: 30px;
    margin-left: 43%;
    padding: 10px;
    font-size: 1em;
    font-family:  sans-serif;
    background-color: black;
    color: white;
}